:root{
    --win-light-blue: #d8ebf5;
    --win-light-red: #ffe1e1;
}

.win-light-blue{
    background-color: var(--win-light-blue) !important
}

.win-light-red{
    background-color: var(--win-light-red) !important
}
